/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./public/bootstrap/css/product.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.product-hien-1{
    margin-top: 10px;
}
.product-hien{
    margin-top: 15px;   
}
h3{
    margin-top: 50px;
}
.btn{
    width: 220px;
}
h5{
    text-transform: capitalize;
}
